<div class="login-page flex-centered">
  <div class="login-box flex-centered">
    <div class="login-box-panel">
      <h1 class="login-title">Login</h1>
    </div>
    <div class="login-box-panel">
      <form [formGroup]="formLogin" (ngSubmit)="login()">
        <div class="login-form-group">
          <label for="emailField">Email</label>
          <input
            type="email"
            class="form-control"
            id="emailField"
            placeholder="name@example.com"
            formControlName="usuario"
          />
        </div>
        <div class="login-form-group">
          <label for="passwordField">password</label>
          <input
            type="password"
            class="form-control"
            id="passwordField"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <br />
        <div class="login-btn-container">
          <button type="submit" class="login-button">Iniciar sesión</button>
        </div>
        <div>{{error}}</div>
        <br />
        <div class="login-btn-container">
          <button type="submit" class="login-button">Registrame</button>
        </div>
      </form>
    </div>
  </div>
</div>
