<div class="home-container">
  <app-menu></app-menu>
  <div>
    <div class="add-post-form"></div>
    <form [formGroup]="formPost" (ngSubmit)="agregarPost()">
      <div class="login-form-group">
        <label for="emailField">Texto del post</label>
        <textarea
          type="email"
          class="form-control"
          id="emailField"
          placeholder="Escribi tu mensaje"
          formControlName="texto"
        ></textarea>
      </div>
      <select class="form-select form-select-lg mb-3" aria-label="Large select example">
        <option *ngFor="let e of etiquetas" [value]="e.id">{{e.nombre}}</option>
      </select>
    </form>
    <div>
      <ng-container *ngFor="let p of posts">
        <div class="card col-6 m-3" style="width: 18rem">
          <div class="card-body">
            <div *ngFor="let p of posts">
              <div>{{p.texto}}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
